.product-list-container, .product-list-container *{
    border: 3px dashed #00B0F6;
    color:#00B0F6;
    padding: 10px;
    margin-bottom: 7px;
}
.product-list-container h3{
    border:  none;
    margin: 0;
}
.product-list-header, .product-list-header *{
    border-color: brown;
    color: brown !important;
}
.product-list-products, .product-list-products *{
    border-color: green;
    color: green !important;
}